<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <!-- navbar-->
        <nav class="navbar">
            <img class="logo-navbar" src="{{url_for('static', filename='css/SGlogo.PNG')}}" alt="Student Guild Logo">
            <div class="nav-menu">
                <div class="nav-menu-title">Lost and Found</div> 
                <ul>
                    
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="#">History</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn"><img src="" alt="Account Image"></button>
                                <div class="dropdown-content">
                                    <a href="account.html">View Profile</a>
                                    <a href="manage-account.html">Manage Account</a>
                                    <a href="#">Log Out</a>
                                </div>
                            

                        </div> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="page-header">
        <h2>Account</h2> 
    </div>
    <div class="content-container">
        <!--NOTE change when image data source path is known-->
        <img src="not_found.png" alt="" class="">
    
        <div>
            <h3>About Me</h3>
            <div>
                <label for="city">Current City:</label>
                <p>Description</p>
            </div>
            <p></p>
        </div>
    </div>
</body>
</html>