<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <!-- navbar-->
        <nav class="navbar">
            <img class="logo-navbar" src="{{ url_for('static', filename='css/SGlogo.PNG') }}" alt="Student Guild Logo">
            <div class="nav-menu">
                <div class="nav-menu-title">Lost and Found</div>
                <ul>
                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                    <li><a href="#">History</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn"><img src="" alt="Account Image"></button>
                            <div class="dropdown-content">
                                <a href="{{ url_for('account') }}">View Profile</a>
                                <a href="{{ url_for('manage_account') }}">Manage Account</a>
                                <a href="{{ url_for('logout') }}">Log Out</a>
                            </div>
                        </div> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="page-header">
        <h2>Account</h2>
    </div>
    <div class="content-container">
        <img src="{{ url_for('static', filename=user.photo_path) }}" alt="Profile Image" class="profile-img">
        <div>
            <h3>About Me</h3>
            <div>
                <label for="name">Name:</label>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div>
                <label for="email">Email:</label>
                <p>{{ user.email }}</p>
            </div>
            <div>
                <label for="city">Current City:</label>
                <p>{{ user.city }}</p> <!-- Assuming you have a 'city' field -->
            </div>
        </div>
    </div>
</body>
</html>
