<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
    <body>
        <header>
            <!-- navbar-->
            <nav class="navbar">
                <div class="nav-items">
                    <div class="nav-menu">
                        <img class="logo-navbar" src="{{ url_for('static', filename='css/SGlogo.PNG') }}" alt="Student Guild Logo">
                        <div class="nav-menu-title">Lost and Found</div>
                        <div class="vertical-rule-nav"></div>
                        <a href="{{ url_for('gallery') }}">Gallery</a>
                        {% if current_user.previlage == 'claimer' %}
                            <a href="{{ url_for('view_claims') }}">Claims</a>
                        {% endif %}
                            {% if current_user.previlage == 'admin' %}
                            <a href="{{ url_for('admin_claims') }}">Claims</a>
                            <a href="{{ url_for('new_item') }}">New Item</a>
                            <a href="{{ url_for('admin_manage_items') }}">Manage Items</a>
                        {% endif %}
                        <div class="dropdown">
                            <img class="profile-navbar" src="{{ url_for('static', filename='profile_photos/' + current_user.photo_path) }}" alt="Profile Image" class="profile-img">
                            <div class="dropdown-content">
                                <a href="{{ url_for('manage_account') }}">Manage Account</a>
                                <a href="{{ url_for('logout') }}">Log Out</a>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </nav>

        </header>
        
        <!--header for page-->
        <div class="page-header">
            <h2>{% block header %}Default Header{% endblock %}</h2>
        </div>
    
        <!--container for content-->
        <div class="{% block container_class %}content-container{% endblock %}">
            {% block content %}

            {% endblock %}
        </div>
        
        <footer class ="additional-text">
            <p>If you have found an item, please return it to the Guild Office located at:</p>
            <address>
                UWA Student Guild Office, 1 Hackett Drive, Crawley WA 6009
            </address>
            <p>For any enquiries, please <a href="https://www.uwastudentguild.com/contact" target="blank">contact us</a>.</p>
            <br>
            <p >© 2024 UWA Student Guild. All rights reserved.</p>
        </footer>

    </body>
</html>