{% extends "base.html" %}

{% block title %}
Gallery
{% endblock %}

{% block header %}
Gallery
{% endblock %}

{% block content %}
<form method="GET" action="{{ url_for('search_items') }}">
    <input type="text" name="query" placeholder="Search for items" required>
    <input type="submit" value="Search">
</form>

<div class="gallery">
    {% for item in items %}
            <div>
                <h3>{{ item.name }}</h3>
                {% for photo_path in list_photo_paths[item.id|string] %}
                <img src="{{ url_for('static', filename='item_photos/' + photo_path) }}" alt="Image of {{ item.name }}"
                    width="300">
                {% endfor %}
                <p>{{ item.description }}</p>
                <p>Status: {{ item.status }}</p>
                <a href="/item/{{ item.id }}">View Details</a>
            </div>
            {% else %}
            <p>No items found.</p>
            {% endfor %}
</div>
{% endblock %}
