<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <header>
        <!-- navbar-->
        <nav class="navbar">
            <div class="nav-menu">
                <ul>
                    <li class="nav-menu-title">UWA Lost and Found</li> 
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="#">History</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn"><img src="" alt="Account Image"></button>
                            <div class="dropdown-content">
                              <a href="/account">View Profile</a>
                              <a href="/manage-account>Manage Account</a>
                              <a href="#">Sign Out</a>
                            </div>
                          </div> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="gallery">
        <figure>
            <img src="" class="gallery_img" alt="Image">
            <figcaption class="action-bar">
                <span>Title of image</span>
                <button>Claim</button>
                <button>Share</button>
            </figcaption>
        </figure>
    </div>
</body>
</html>