<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UWA Lost and Found</title>
</head>
<body>
    <header>
        <h1>UWA Lost and Found</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/account">My Account</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to the UWA Lost and Found</h2>
        <p>This application helps the UWA community find lost items. Browse the gallery or log in to make a claim.</p>
        <!-- <a href="/login">Login</a> |  -->
        <a href="/register">Register</a>

        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </main>
    <footer>
        © 2024 University of Western Australia. All rights reserved.
    </footer>
</body>
</html>