{% extends "base.html" %}

{% block title %}
Item Details
{% endblock %}

{% block header %}
Item Details
{% endblock %}


{% block content %}
<div class="center">

    {% for photo_path in photo_paths %}
    <img src="{{ url_for('static', filename='item_photos/' + photo_path) }}" alt="Image of {{ item.name }}"
        width="300">
    {% endfor %} 
</div>
    <br>
<div class="center">
    <span class="item-font">Found On:</span> <br> <p>{{ item.created_at.strftime('%Y-%m-%d') }}</p>
    <span class="item-font">Last Updated:</span> <br> <p>{{ item.updated_at.strftime('%Y-%m-%d') }}</p>
    <span class="item-font">Description:</span> <br> <p>{{ item.description }}</p>
    <span class="item-font">Status:</span> <br> <p>{{ item.status }}</p>
    <span class="item-font">Tags:</span> <br> <p>{{ item.tags }}</p>
    

    <button class="form_button" id="claimBtn">Claim Item</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="form-container">
                <span class="close">&times;</span>
                <br>
                <form action="/submit-claim" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="item_id" value="{{ item.id }}"> <!-- Hidden field for item ID -->
                    <label>Describe your claim:</label><br>
                    <textarea class="form-control-description" name="claimer_description" required></textarea><br>

                    <label for="evidence_photo_paths">Upload Evidence (optional):</label><br>
                    <input type="file" id="evidence_photo_paths" name="evidence_photo_paths" accept="image/*" multiple><br><br>

                    <input class="form_button" type="submit" value="Submit Claim">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}