{% extends "base-alt.html" %}

{% block title %}
Login
{% endblock %}

{% block header %}
 
{% endblock %}


{% block content %}
    <div class="container-header">
        <img class="logo" src="{{ url_for('static', filename='css/SGlogo.PNG') }}" alt="Student Guild Logo">
        <h2 class="form-heading">Lost and Found Portal</h2>
    </div>
    <div class="container-text">
        <h3>Welcome</h3>
        <p class="switch-login-register">This application is managed by the Student Guild to help UWA staff and students find lost items. Please log in below to browse the gallery of reported missing items and to make a claim request.
            <br>
            <br>
            You must be a current student or staff member to view these items. If you are not a member, please visit the UWA Student Guild Office.
        </p>
        <hr>
        <h3>Login</h3>
        <form action="{{ url_for('login') }}" method="post" class="login-form">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }}
                {{ form.email(size=32, class_='form-control') }}
                {% for error in form.email.errors %}
                <span class="error" style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(size=32, class_='form-control') }}
                {% for error in form.password.errors %}
                <span class="error" style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
             <!-- Flash messages block -->
             {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
             <ul class=flashes>
                {% for category, message in messages %}
                {% if category in ['password', 'info', 'register'] %}
                <li class="{{ category }}">{{ message }}</li>
                {% endif %}
                {% endfor %}
             </ul>
             {% endif %}
             {% endwith %}
            <div>
                {{ form.submit(class_='form_button') }}
            </div>
        </form>
        <p class="switch-login-register">
            Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
        </p>
        {% endblock %}

    </div>

</div>