{% extends "base.html" %}

{% block title %}
Manage Account
{% endblock %}

{% block header %}
Manage Account
{% endblock %}

{% block content %}
<form action="/manage-account", method="post" enctype="multipart/form-data">
    <h3>Account Details</h3>
    <div>
        <label for="name">Name:</label>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    </div>
    <div>
        <label for="email">Email:</label>
        <p>{{ user.email }}</p>
    </div>
    <div>
        <hr>
    </div>
    <h3>Upload Photo</h3>
    <div>
        <label for="current_photo">Current Photo:</label>
        <br>
        <img src="{{ url_for('static', filename=user.photo_path) }}" alt="Profile Image" class="profile-img">
    </div>
    <div>
        <label for="new_photo">Choose a photo to upload:</label>
        <br>
        <input type="file" id="new_photo" name="new_photo" accept="image/*" onchange="">
        <br>
        <img src="" alt="" id="imagePreview"  style="max-width: 200px; height: auto;">
    </div>
    <div>
        <hr>
    </div>
    <h3>Change Password</h3>
    <div>
        <label for="password_old">Current Password:</label>
        <input type="password" id="password_old" name="password_old" placeholder="Enter current password">
    </div>
    <div>
        <label for="password_new">New Password:</label>
        <input type="password" id="password_new" name="password_new" placeholder="Create new password">
    </div>
{% endblock %}