{% extends "base.html" %}

{% block title %}
Manage Account
{% endblock %}

{% block header %}
Manage Account
{% endblock %}

{% block content %}

<form action="{{ url_for('manage_account') }}" , method="post" enctype="multipart/form-data">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <h3>Account Details</h3>
    <div class="toggleHide">
        <label for="name">Name:</label> {{ user.first_name }} {{ user.last_name }} <br>
        <label for="email">Email:</label>{{ user.email }} <br>
    </div>
    <div class="toggleHide" style="display: none">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ user.email }}" required><br>
    </div>
    <div>
        <hr>
    </div>
    <div class="toggleHide">
        <label for="current_photo">Current Photo:</label>
        <br>
        <img src="{{ url_for('static', filename='profile_photos/' + current_user.photo_path) }}" alt="Profile Image" class="profile-img">
    </div>
    <div class="toggleHide" style="display: none">
        <h3>Upload Photo</h3>
        <label for="photo_path">Choose a photo to upload:</label>
        <br>
        <input type="file" id="photo_path" name="photo_path" accept="image/*" onchange="">
        <br>
    </div>
    
    <div class="toggleHide" style="display: none">
        <div>
            <hr>
        </div>
        <h3>Change Password</h3>
        <!-- <div >
            <label for="old_password">Current Password:</label>
            <input type="password" id="old_password" name="old_password" placeholder="Enter current password">
        </div> -->
        <div>
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" placeholder="Create new password">
        </div>
    </div>
    
    
    <input class="form_button toggleHide" type="submit" style="display: none" value="Save Changes">
</form>

<button class="form_button toggleHide" onclick="toggleVisibility()" style="display: none">Cancel</button>
<button class="form_button toggleHide" onclick="toggleVisibility()">Edit</button>
<script>

    function toggleVisibility() {
        var elements = document.getElementsByClassName("toggleHide");
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].style.display === "none") {
                elements[i].style.display = "block"; // Show the element
            } else {
                elements[i].style.display = "none"; // Hide the element
            }
        }
    }
</script>
{% endblock %}