{% extends "base.html" %}

{% block title %}
Claims
{% endblock %}

{% block header %}
My Claims
{% endblock %}

{% block content %}

        
<table id="table-layout">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Claim Status</th>
            <th>Admin Response</th>
        </tr>
    </thead>
    <tbody>
        {% for claim, lost_item in claims %}
            <tr>
                <td>{{ lost_item.name }}</td>
                <td>{{ claim.status }}</td>
                <td>{{ claim.admin_response }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}