{% extends "base.html" %}

{% block title %}
Edit Claim
{% endblock %}

{% block header %}
Edit Claim
{% endblock %}

{% block content %}
<div>
    <p>EVIDENCE PHOTOS:</p>
    {% for photo_path in photo_paths %}
    <img src="{{ url_for('static', filename='evidence_photos/' + photo_path) }}" alt="" width="300">
    {% endfor %}
</div>
<form method="POST">
    <div class="form-group">
        <label for="status">Claim Status</label>
        <select class="form-control" id="status" name="status">
            <option value="waiting_approval" {% if claim.status=='waiting_approval' %}selected{% endif %}>Waiting
                Approval</option>
            <option value="approved" {% if claim.status=='approved' %}selected{% endif %}>Approved</option>
            <option value="rejected" {% if claim.status=='rejected' %}selected{% endif %}>Rejected</option>
        </select>
    </div>
    <div class="form-group">
        <label for="admin_response">Admin Response</label>
        <textarea class="form-control" id="admin_response" name="admin_response"
            rows="4">{{ claim.admin_response }}</textarea>
    </div>
    <button type="submit" class="form_button">Update Claim</button>
</form>
{% endblock %}