{% extends "base.html" %}

{% block title %}
Edit Claim
{% endblock %}

{% block header %}
Edit Claim
{% endblock %}

{% block content %}
<form action="{{ url_for('admin_edit_item', item_id=item.id) }}" method="POST" enctype="multipart/form-data">
    <label for="name">Item Name:</label><br>
    <input type="text" id="name" name="name" value="{{ item.name }}" required><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required>{{ item.description }}</textarea><br>

    <label for="tags">Tags:</label><br>
    <input type="text" id="tags" name="tags" value="{{ item.tags }}" required><br>

    <label for="photo_paths">Photo Path:</label><br>
    <input type="text" id="photo_paths" name="photo_paths" value="{{ item.photo_paths }}"><br>

    <input type="submit" value="Update Item">
</form>
<button type="button" onclick="window.location.href = '{{ url_for('admin_manage_items') }}';">Cancel</button>
{% endblock %}