<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
</head>

<body>
    <header>
        <h1>Add New Item</h1>
    </header>
    <main>
        <!-- <form action="/admin/new-item" method="post" enctype="multipart/form-data">
            <label for="name">Item Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" required></textarea><br>
            <label for="location">Location Found:</label><br>
            <input type="text" id="location" name="location" required><br>
            <label for="date_found">Date Found:</label><br>
            <input type="date" id="date_found" name="date_found" required><br>
            <label for="image">Upload Image:</label><br>
            <input type="file" id="image" name="image" accept="image/*"><br><br>
            <input type="submit" value="Submit">
        </form> -->

        <h2>Post Lost Item</h2>
        <form method="POST" action="{{ url_for('new_item') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.description.label }}<br>
                {{ form.description(rows=4, cols=50) }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.tags.label }}<br>
                {{ form.tags(size=32) }}<br>
                {% for error in form.tags.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.photo_paths.label }}<br>
                {{ form.photo_paths(multiple="multiple") }}<br>
                {% for error in form.photo_paths.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>

</html>